resilience4j:
    circuitbreaker:
        configs:
            default:
                sliding-window-size: 6
                failure-rate-threshold: 50
                wait-duration-in-open-state: 20s
                permitted-number-of-calls-in-half-open-state: 4
                slow-call-duration-threshold: 3s
                slow-call-rate-threshold: 50
        instances:
            products:
                base-config: default
    timelimiter:
        configs:
            default:
                timeout-duration: 4s
        instances:
            products:
                base-config: default

spring:
    cloud:
        gateway:
            routes:
                - id: msvc-users
                  uri: lb://msvc-users
                  predicates:
                    - Path=/api/users/**
                  filters:
                  - StripPrefix= 2
                - id: msvc-products
                  uri: lb://msvc-products
                  predicates:
                    - Path=/api/products/**
                    # - Header=token, \d+
                    # - Method=GET, POST
                    # - Query=color, verde,
                    # - Cookie=color, azul
                    # - Header=Content-Type, application/json
                  filters:
                  - name: CircuitBreaker
                    args:
                      name: products
                      statusCodes: 500, 404
                      fallbackUri: forward:/api/items/5
                  - StripPrefix= 2
                  - name: SampleCookie
                    args:
                      name: color
                      value: sebastian
                      message: Hola mi mensaje personalizado para producto
                - id: msvc-items
                  uri: lb://msvc-items
                  predicates:
                    - Path=/api/items/**
                  filters:
                    - StripPrefix= 2
                    - name: AddRequestHeader
                      args:
                        name: token-request
                        value: asdasdads
                    - name: AddResponseHeader
                      args:
                        name: token-response
                        value: asdasdads
                    - name: AddRequestParameter
                      args:
                        name: name
                        value: Sebastian
                    - name: SetResponseHeader
                      args:
                        name: Content-Type
                        value: text/plain                